<h2>Import cars</h2>

<%= form_tag import_cars_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<% if @cars.length > 0 %>
  <div class="car-list">
    <%=  react_component 'Listing', {cars: @cars} %>
  </div>





<% end %>
